
*.user
build-usbCan-Desktop_Qt_5_7_0_MinGW_32bit-Debug/.qmake.stash
build-usbCan-Desktop_Qt_5_7_0_MinGW_32bit-Debug/debug/lib/zcoma.dll
build-usbCan-Desktop_Qt_5_7_0_MinGW_32bit-Debug/debug/lib/zcoma.lib
build-usbCan-Desktop_Qt_5_7_0_MinGW_32bit-Debug/debug/main.o
build-usbCan-Desktop_Qt_5_7_0_MinGW_32bit-Debug/debug/main.o
build-usbCan-Desktop_Qt_5_7_0_MinGW_32bit-Debug/debug/moc_widget.cpp
build-usbCan-Desktop_Qt_5_7_0_MinGW_32bit-Debug/debug/moc_widget.cpp
build-usbCan-Desktop_Qt_5_7_0_MinGW_32bit-Debug/debug/moc_widget.o
build-usbCan-Desktop_Qt_5_7_0_MinGW_32bit-Debug/debug/usbCan.exe
build-usbCan-Desktop_Qt_5_7_0_MinGW_32bit-Debug/debug/usbCan.exe
build-usbCan-Desktop_Qt_5_7_0_MinGW_32bit-Debug/debug/widget.o
build-usbCan-Desktop_Qt_5_7_0_MinGW_32bit-Debug/debug/zcoma.dll
build-usbCan-Desktop_Qt_5_7_0_MinGW_32bit-Debug/lib/zcoma.dll
build-usbCan-Desktop_Qt_5_7_0_MinGW_32bit-Debug/lib/zcoma.lib
build-usbCan-Desktop_Qt_5_7_0_MinGW_32bit-Debug/lib/zcoma.lib
build-usbCan-Desktop_Qt_5_7_0_MinGW_32bit-Debug/Makefile
build-usbCan-Desktop_Qt_5_7_0_MinGW_32bit-Debug/Makefile
build-usbCan-Desktop_Qt_5_7_0_MinGW_32bit-Debug/Makefile.Debug
build-usbCan-Desktop_Qt_5_7_0_MinGW_32bit-Debug/Makefile.Debug
build-usbCan-Desktop_Qt_5_7_0_MinGW_32bit-Debug/Makefile.Release
build-usbCan-Desktop_Qt_5_7_0_MinGW_32bit-Debug/debug/Service.o
